<% content_for(:title, "Add recipe | Recipes")%>
<h1>New Recipe</h1>
<%= render('layouts/errors', :object => @recipe ) %>
<form action="/recipes" method="post">
  <%= render('form') %>
  <button type="submit">Add Recipe</button>
</form>
