<% content_for(:title, "New recipe | Recipes") %>
<h1><%= @recipe.name %></h1>
<p><%= @recipe.description %></p>

<p><a href="/recipes/<%= @recipe.id %>/edit">Edit</a></p>
<p><a href="/recipes/<%= @recipe.id %>"
  data-confirm="Are you sure?"
  data-method="delete"
  rel="nofollow">Delete</a></p>
<p><a href="/recipes">Go to homepage</a></p>
